@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

body,
html {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

button.nav-toggle {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

nav {
  position: absolute;
  right: 100px;
  /* visibility: hidden; */
}

.header-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2em;
  list-style: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

.header-nav-list-link:link,
.header-nav-list-link:active,
.header-nav-list-link:visited {
  text-decoration: none;
  color: black;
}

.header-nav-list-link:hover,
.header-nav-list-link:focus {
  color: #14cfae;
}

.selected {
  border-bottom: 1px solid black;
}

div.header-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.header-main-content {
  align-self: center;
  display: flex;
  flex-direction: row;
  margin: 2em auto;
}

div.header-main-text {
  align-self: center;
}

h1 {
  font-size: 4.4rem;
  font-weight: 300;
  color: #303030;
  line-height: 1em;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 3.75rem;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

#my-services p,
#about-me p {
  font-size: 1.125rem;
  font-weight: 300;
}

div.header-main-text span {
  font-weight: 900;
  letter-spacing: 0;
}

div.header-main-text p {
  font-size: 2.2rem;
  color: #1c4b43;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 0.1em 0;
  background-color: #14cfae;
  position: relative;
}

div.header-main-text p:before {
  content: "";
  position: absolute;
  transform: translate(-100%, -7.7%);
  height: 51.5px;
  width: 340px;
  background-color: #14cfae;
  z-index: -1;
}

.header-img-logo {
  width: 140px;
  z-index: -1;
}

.header-img-headshot {
  width: 313px;
  order: -1;
}

#my-services {
  width: 100%;
  background-color: grey;
  background-image: url("img/services-bg.jpg");
  background-blend-mode: multiply;
  background-repeat: none;
  object-fit: cover;
  color: white;
}

.my-services-container {
  padding: 5em;
}

.my-services-columns {
  display: flex;
  flex-direction: row;
  gap: 2.5em;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  padding: 3em;
}

#my-services h2 {
  color: #14cfae;
  text-align: center;
  padding: 0 0 0.2em;
}

#my-services span {
  display: block;
  margin: 0 auto;
  height: 1px;
  width: 95px;
  color: white;
  border: 1px solid white;
}

#my-services h3 {
  font-weight: 900;
}

.btn-my-services {
  display: block;
  text-align: center;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  margin: 3em auto 2em;
  padding: 0;
  background-color: #16e0bd;
  border: none;
  cursor: pointer;
}

.btn-my-services a {
  display: block;
  padding: 1em 3.5em;
  text-decoration: none;
  color: #333333;
}

.btn-my-services a:hover,
.btn-my-services a:focus {
  background-color: #1c4b43;
  color: #ffffff;
}

.about-me-container {
  max-width: 70%;
  margin: 2em auto;
  padding: 4em;
  display: flex;
  gap: 3em;
  flex-direction: row;
  justify-content: center;
}

.about-me-main {
  flex-grow: 2;
}

.about-me-img {
  width: 244px;
  height: 406px;
}

#about-me h3 {
  font-weight: normal;
  color: #303030;
  position: relative;
  margin: 1em 0;
}

#about-me h3:before {
  content: "";
  position: absolute;
  transform: translate(-8%, -20%);
  height: 51.5px;
  width: 180%;
  background-color: #14cfae;
  z-index: -1;
}

#my-work {
  width: 100%;
  background-color: #303030;
}

footer {
  background-color: #141414;
}
