@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

body,
html {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

button.nav-toggle {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  z-index: 200;
  position: fixed;
  right: 2em;
  top: 2.2em;
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #141414;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.header-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;
  list-style: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.header-nav-list-link:link,
.header-nav-list-link:active,
.header-nav-list-link:visited {
  text-decoration: none;
  color: white;
}

.header-nav-list-link:hover,
.header-nav-list-link:focus {
  color: #14cfae;
}

.selected {
  border-bottom: 1px solid #14cfae;
}

.nav-open {
  transform: translateX(0%);
}

.nav-toggle-open {
  fill: #14cfae;
}

div.header-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.header-main-content {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 2em auto;
}

div.header-main-text {
  align-self: center;
  margin-bottom: 1em;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  color: #303030;
  text-align: center;
  line-height: 1em;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2.75rem;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

#my-services p,
#about-me p {
  font-size: 1.125rem;
  font-weight: 300;
}

div.header-main-text span {
  font-weight: 900;
  letter-spacing: 0;
}

div.header-main-text p {
  font-size: 1.69rem;
  color: #1c4b43;
  text-transform: uppercase;
  letter-spacing: 0.17em;
  margin: 0;
  padding: 0.2em;
  background-color: #14cfae;
  position: relative;
}

.header-img-logo {
  width: 140px;
  z-index: -1;
}

.header-img-headshot {
  width: 249px;
}

#my-services {
  color: white;
  width: 100%;
  background-color: grey;
  background-image: url("../img/services-bg.jpg");
  background-blend-mode: multiply;
  background-repeat: none;
  background-size: cover;
  object-fit: cover;
}

.my-services-container {
  padding: 3em 1em;
  max-width: 90%;
  margin: 0 auto;
}

.my-services-columns {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
  margin: 0 auto;
  padding: 3em 0 2em;
}

#my-services h2 {
  color: #14cfae;
  text-align: center;
  padding: 0 0 0.2em;
}

#my-services span {
  display: block;
  margin: 0 auto;
  height: 1px;
  width: 95px;
  color: white;
  border: 1px solid white;
}

#my-services h3 {
  font-weight: 900;
}

.btn-my-services {
  display: block;
  text-align: center;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  margin: 3em auto 2em;
  padding: 0;
  background-color: #16e0bd;
  border: none;
  cursor: pointer;
}

.btn-my-services a {
  display: block;
  padding: 1em 3.5em;
  text-decoration: none;
  color: #333333;
}

.btn-my-services a:hover,
.btn-my-services a:focus {
  background-color: #1c4b43;
  color: #ffffff;
}

.about-me-container {
  max-width: 90%;
  margin: 2em auto;
  padding: 1em;
  display: flex;
  gap: 3em;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.about-me-main {
  flex-grow: 2;
}

.about-me-img {
  display: block;
  margin: 0 auto;
  width: 244px;
  height: 406px;
}

#about-me h3 {
  font-weight: bold;
  color: #303030;
  position: relative;
  margin: 1em 0;
  background-color: #14cfae;
  padding: 1em;
}

#my-work {
  width: 100%;
  background-color: #303030;
  text-align: center;
}

#my-work h2 {
  color: white;
}

#my-work h3 {
  color: #16e0bd;
  margin: 0.5em auto 1em;
}

.my-work-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 4em 0;
  display: flex;
  flex-direction: column;
}

.my-work-portfolio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 4em;
}

.portfolio-img {
  max-width: 240px;
}

footer {
  background-color: #141414;
  color: #16e0bd;
  font-size: 1.5rem;
  text-align: center;
  height: 252px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
}

footer a {
  text-decoration: none;
  color: #16e0bd;
}

footer a:hover,
footer a:focus {
  font-weight: 900;
}

.fab {
  padding: 1em;
}

@media (min-width: 1285px) {
  div.header-main-content {
    flex-direction: row;
  }

  h1 {
    font-size: 4.4rem;
    text-align: left;
  }

  h3 {
    font-size: 1.5rem;
  }

  div.header-main-text {
    margin: 0;
  }

  div.header-main-text p {
    font-size: 2.2rem;
    letter-spacing: 0.2em;
    padding: 0.1em 0;
  }

  div.header-main-text p:before {
    content: "";
    position: absolute;
    transform: translate(-100%, -7.7%);
    height: 51.5px;
    width: 340px;
    background-color: #14cfae;
    z-index: -1;
  }

  .header-img-headshot {
    width: 313px;
    order: -1;
  }

  .my-services-container {
    padding: 5em;
  }

  .my-services-columns {
    flex-direction: row;
    max-width: 80%;
  }

  .about-me-container {
    flex-direction: row;
    justify-content: center;
    padding: 4em;
    text-align: left;
    max-width: 80%;
  }

  .about-me-main {
    margin-right: 2em;
  }

  #about-me h3 {
    font-weight: normal;
    padding: 0;
    background-color: none;
  }

  #about-me h3:before {
    content: "";
    position: absolute;
    transform: translate(-6%, -20%);
    height: 51.5px;
    width: 170%;
    background-color: #14cfae;
    z-index: -1;
  }

  .my-work-container {
    padding: 8em 0;
  }
}

/* CHANGE THIS AND USE  CUSTOM PROPERTIES AND SET THIM IN THE ROUT WITH THEIR OWN MEDIA QUERY */
